Repository hse-mtc/dal, pull requests merged in 2021-01, with the labels that each got.

#153 Simplify year resolution for Papers
  front-end/src/components/Documents/Documents.vue
Labels: dms, optim

#154 Pagination for Papers and Books
  back-end/dms/views/books.py
  back-end/dms/views/papers.py
Labels: dms, feat

#158 fix: hotfix for mark, lesson and student
  back-end/lms/models/lesson.py
  back-end/lms/serializers/lesson.py
  back-end/lms/serializers/mark.py
  back-end/lms/serializers/student.py
Labels: fix, lms

#163 feat: add mark journal
  back-end/lms/serializers/mark.py
  back-end/lms/urls.py
  back-end/lms/views/mark.py
Labels: feat, lms

#164 Merge DMS migrations
  back-end/dms/migrations/0001_initial.py
  back-end/dms/migrations/0002_make_document_title_optional.py
  back-end/dms/migrations/0003_auto_20201211_1206.py
  back-end/dms/migrations/0004_add_book_cover.py
  back-end/dms/migrations/0005_add_book_page_count.py
  back-end/dms/migrations/0005_auto_20210129_1150.py
Labels: dms, optim
